.mainContent {
    max-width: 1280px;
    margin: 0 auto;
    padding: 3em 1em;
    display: flex;
}

.rowContainer {

}

.columnPhotoContainer {
    padding: 0;
}


.productGalleryImage {
    padding: 4px;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    cursor: zoom-in;
}

.columnProductInfoContainer {
    padding: 0 2em;

}

.productContentContainer {
    position: sticky;
    top: 4.5em;
    left: 0px;
}

.productHeaderContainer {
    display: block;
}

.productHeaderTextContainer {
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 800;
    margin-bottom: 0;
    padding-bottom: 0.25rem;
}

.subDescription {
    margin-bottom: 0.75rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.productPrice {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.productColor {
    margin-bottom: 0;
}

.productAvailability {
    margin-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.productAvailability span {
    margin-left: 0.25rem;
    margin-bottom: 0.02rem;
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 9999px;
}

.spanItemAvailable {
    background-color: #7bbb5d;
}

.spanItemUnavailable {
    background-color: orangered;
}

.sizeSelectContainer {
    position: relative;
    margin-bottom: 0.75rem;
    max-width: 100%;
}

.chooseSize {
    display: flex;
    justify-content: space-between;
}

.chooseSizeText {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 700;
}

.chooseSizeWrapper {
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sizeSelectItem {
    border: 1px solid #212529;
    float: left;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    height: 3rem;
    min-width: 3rem;
    padding: 0.75rem 0.5rem;
    font-size: .875rem;
    line-height: 1.25rem;
}

.sizeSelectItemActive {

    background-color: #212529;

    animation-name: background;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}

.sizeSelectItemSpan {
    background-color: transparent;
}

.sizeSelectItemSpanActive {
    color: white;

    animation-name: backgroundNumber;
    animation-duration: 0.3s;
    animation-timing-function: linear;

}

@keyframes background {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: #212529;
    }
}

@keyframes backgroundNumber {
    0% {
        color: #212529;
    }
    100% {
        color: white;
    }
}

.productDescription {
    padding: 0.75em 0;
}

.productAccordion {

}

.tabContainer {
    min-height: 420px;
}

.tabTitles {
    display: flex;
}

.tabTitle {
    flex-grow: 0;
    flex-basis: 33.33%;
    align-self: center;
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    padding: 14px 0 10px;
    cursor: pointer;
    color: dimgrey;
    border-bottom: 2px solid transparent;
    transition: all .4s linear;
}

.tabTitleActive {
    color: #212529;
    font-weight: 700;
    border-bottom: 2px solid #212529;
}

.tabTextBox {
    padding: 1em 20px 0.75em;
}

.tabContent {
    display: none;
}

.tabContentActive {
    display: block;
}

.productDescription p {
    color: #4a4a4a;
}

.paymentButton {
    display: flex;
    justify-content: center;
}

@media (max-width: 576px) {
    .mainContent {
        display: flex;
        justify-content: center;
    }
    .rowContainer {
        max-width: 100%;
    }
    .productHeaderContainer {
        text-align: center;
    }

    .productHeaderTextContainer {
        padding-top: 0.5rem;
    }
    button {
        white-space: nowrap;
    }

}