a:hover {
    color: white;
}

a:focus {
    color: white;
}

.brandLogo {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding-right: 10px;
    position: absolute;
    left: 50%;
    margin-left: -80px;
}


