a:hover {
    color: white;
}

a:focus {
    color: white;
}

.brandLogo {
    padding-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.search {
    position: absolute;
    left: 50%;
    margin-left: -137px;
}

@media (max-width: 576px) {
    .search {
        display: none;
    }
}


