button {
    border: 0;
    cursor: pointer;
}

.main_menu {
    padding-top: 20px;
    margin: 0 auto;
    width: 1170px;
    position: relative;
}

.main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.main_menu ul li {
    float: none;
    display: inline-block;
}

.main_menu ul li:nth-child(1) {
    float: left;
}

.main_menu ul li:nth-child(2) {
    float: left;
}

.main_menu ul li button {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 15px 10px;
    color: black;
    transition: all 0.3s ease 0s;
}

.main_menu ul li button:focus {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 800;
}

.logo_area {
    padding-top: 24px;
    position: absolute;
    left: 50%;
    top: 0%;
    margin-left: -110px;
}

.logo {
    color: black;
    text-decoration: none;
    font-weight: 800;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    color: black;
}

@media (max-width: 576px) {
    .main_menu {
        display: contents;
    }

    .logo_area {
        display: flex;
        justify-content: center;
        position: relative;
        left: 0;
        margin-left: 0;
    }

    .main_menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}