h1 {
    font-size: 24px;
    margin-bottom: 30px;
}
.list-group-item {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s linear 0s;
}

.list-group-item.active {
    background-color: #212529 !important;
}

.list-group-item:focus {
    background-color: #212529 !important;
}