root {
    --secondary: 0,0,0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.carousel-control-next-icon {
    background-color: transparent;
    width: 1.5rem;
}

.carousel-control-prev-icon {
    background-color: transparent;
    width: 1.5rem;
}

.carousel-indicators {
    background-color: transparent;
}


.btn {
    border-radius: 0;
    padding: 14px 116px;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: whitesmoke;
    color: black;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list-group-item.list-group-item.active {
    margin-top: 0 !important;
    border-top-width: 0 !important;
}

@media (max-width: 576px) {
    .btn {
        padding: 14px 80px;
    }
}